.songs-table {
  padding: 25px;
  font-size: 14px;

  .songs-table-header {

    padding-bottom: 25px;
    padding-left: 5px;

    h3 {
      display: inline-block;
      margin: 0;
      // font-family: 'Roboto', sans-serif;
      font-size: 26px;
    }

    a {
        font-size: 12px;
        display: inline-block;
        padding: 4px 8px;
        margin: 0 15px;
        text-decoration: none;
        font-size: 14px;
        color: #1a6ea9;
        border: 1px solid #1a6ea9;
        border-radius: 4px;
        // font-weight: 800;
        transition: all .3s ease;
        background: #fff;
        cursor: pointer;
    }
    a:hover {
      color: #fff;
      border: 1px solid #1a6ea9;
      background: #1a6ea9;
    }
  }

  span.tag-wrapper:last-of-type {
    color: rgba(255,255,255,0);
}

 span.tag-wrapper {
    margin-right: 5px;
}

.rt-td a {
    color: #1a6ea9;
}



.rt-tr-group {
  a {
      color: #1a6ea9;
  }
  
  .sub-menu ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;

    li {
      display: inline-block;
      margin: 0 10px 0 0 ;
    }.delete {

      a {
        color: red !important;
      }
    }
}
}
}
