.card {
  background: white;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  width: 350px;
  min-height: 350px;
  margin: 12px;
}

.card__content {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.card__image {
  height: 250px;
  overflow: hidden;
}

.card__content__text {
  padding: 16px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.card__content__text__title {
  font-size: 30px;
  margin-bottom: 12px;
}

.card__content__text__description {
  font-size: 16px;
}
