.singlesong-container {
  padding: 25px;

  .singlesong-header {
    padding-bottom: 25px;
    padding-left: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.1);

    h3 {
      display: inline-block;
      margin: 0;
      // font-family: 'Roboto', sans-serif;
      font-size: 26px;

    }

    a {
        display: inline-block;
        padding: 4px 8px;
        margin: 0 15px;
        text-decoration: none;
        font-size: 14px;
        color: #1a6ea9;
        border: 1px solid #1a6ea9;
        border-radius: 4px;
        // font-weight: 800;
        transition: all .3s ease;
        background: #fff;
        cursor: pointer;
    }
    a:hover {
      color: #fff;
      border: 1px solid #1a6ea9;
      background: #1a6ea9;
    }
  }

  .left-content {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    padding-top: 25px;

    h3 {
      margin-top: 0;
    }

}
  .right-content {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    text-align: center;
    padding-top:  25px;

    .image-container {
      img {
         width: 250px;
      }
    }
}
}
