.loginForm__wrapper {
  margin-top: 30px;
}

.loginForm__container {
  display: flex;
  flex-flow: column;
}

.loginForm__input {
  margin: 4px 0;
  padding: 8px;
  width: 200px;
  height: 30px;
  border: 1px solid #1a6ea9;
}

.loginForm__submit-button {
  margin-top: 2px;
  width: 218px;
  height: 42px;
  border: 1px solid #1a6ea9;
  background: linear-gradient(0.25turn, #1e0c49, #1a6ea9, #0097d5);
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    background: linear-gradient(0.25turn, #0097d5, #1a6ea9, #1e0c49);
  }
}
