.upload-song-form {

  .left-content {
    width: 60%;
    display: inline-block;
    padding: 15px;
}
  .right-content {
    width: 40%;
    display: inline-block;
    padding: 15px;
    vertical-align: top;
}

  .upload-field {
    margin: 15px 0;

    p.field-title {
      margin: 0 0 5px 0 !important;
    }

    input.upload-song-input {
      height: 30px;
      width: 100%;
      padding: 0 10px;
    }

    textarea.upload-song-text-area {
    width: 100% !important;
    min-height: 350px;
    padding: 10px;
}
  }




}


.uploadForm__submit-button {
  margin-top: 2px;
  width: 218px;
  height: 42px;
  border: 1px solid #1a6ea9;
  background: #0097d5;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    background: #1a6ea9;
  }
}
