.cardGrid {
  display: block;
  width: 100%;
}

.cardGrid__card {
  display: inline-block;
  cursor: pointer;

  &:hover {
    position: relative;
    bottom: 1px;
    transition: bottom 0.1s ease;
  }
}
